{% extends "base.html" %}


{% block content %}

<form action="succes/" method="post"  style="margin: 250px 650px">
    {% csrf_token %}
    <h1 lass="h3 mb-3 font-weight-normal">Регистрация</h1>
    <input type="text" required placeholder="username" name="username" class="d-block form-control">
    <input type="text" required placeholder="Имя" name="first_name" class="d-block form-control">
    <input type="text" required placeholder="Фамилия" name="last_name" class="d-block form-control">
    <input type="email" name="email" required placeholder="email" class="d-block form-control">
    <input type="password" name="password" required placeholder="Пароль" class="d-block form-control">
    <button type="submit" class="btn btn-outline-success">Зарегистрироваться</button>
</form>

{% endblock %}